/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@-webkit-keyframes moving {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(3vh);
                transform: translateY(3vh);
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes moving {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(3vh);
                transform: translateY(3vh);
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@media(hover: hover) {
    .logo {
        -webkit-transition: -webkit-transform 0.5s;
        transition: -webkit-transform 0.5s;
        -o-transition: transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s;
    }
    
    .logo:hover {
        -webkit-transform: translateX(5px);
            -ms-transform: translateX(5px);
                transform: translateX(5px);
    }
}

.link:hover {
    text-decoration: underline;
}

.FTC_logo {
    background-image: url('../public/footer/white_logo.svg');
}

.FB_logo {
    background-image: url('../public/footer/fb_logo.svg');
}

.FM_logo {
    background-image: url('../public/footer/fm_logo.svg');
}

.GH_logo {
    background-image: url('../public/footer/gh_logo.svg');
}

.IT_logo {
    background-image: url('../public/footer/it_logo.svg');
}

.TG_logo {
    background-image: url('../public/footer/tg_logo.svg');
}

.TT_logo {
    background-image: url('../public/footer/tt_logo.svg');
}

.YT_logo {
    background-image: url('../public/footer/yt_logo.svg');
}

.lc_ic {
    background-image: url('../public/footer/loc_icon.svg');
}

.em_ic {
    background-image: url('../public/footer/eml_icon.svg');
}

.bear {
    -webkit-animation: moving infinite 5s;
            animation: moving infinite 5s;
    background-image: url('../public//footer/footer_bear.svg');
}