.profile_icon_1 {
    background-image: url('../public/profile/profile_icon_1.svg');
}

.profile_icon_2 {
    background-image: url('../public/profile/profile_icon_2.svg');
}

.profile_icon_3 {
    background-image: url('../public/profile/profile_icon_3.svg');
}

.profile_icon_4 {
    background-image: url('../public/profile/profile_icon_4.svg');
}