@import "slick-carousel/slick/slick-theme.css";
@import "slick-carousel/slick/slick.css";

.page {
	margin-bottom: 3rem;
	margin-top: 2rem;
	margin-left: 10rem;
}

.slide {
	transform: scale(0.9);
	transition: 300ms;
	opacity: 0.2;
}

.activeSlide {
	transform: scale(1);
	transition: 200ms;
	opacity: 1;
}

.slide2 {
	transform: scale(0.8);
	transition: 300ms;
	opacity: 0.2;
}

